@charset "UTF-8";
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 18px;
  min-height: 2000px;
}

a {
  color: inherit;
  text-decoration: none;
}

.subContents {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1024px;
}

.container {
  margin: 0 3vw;
}

#subVisual03 {
  font-family: "Noto Sans KR";
  color: #fff;
  background-color: #000;
}
#subVisual03 .titleBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 1280px;
  position: relative;
  margin: 0 15vw;
}
#subVisual03 .titleBox .txtBox {
  position: absolute;
  left: 0;
  z-index: 10;
}
#subVisual03 .titleBox .txtBox h2 {
  margin-bottom: 30px;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: -3px;
}
#subVisual03 .titleBox .txtBox p {
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 500;
}
#subVisual03 .titleBox .txtBox ul {
  display: flex;
}
#subVisual03 .titleBox .txtBox ul li {
  position: relative;
  margin: 0 10px;
}
#subVisual03 .titleBox .txtBox ul li:nth-child(1) {
  margin-right: 50px;
}
#subVisual03 .titleBox .txtBox ul li:nth-child(1):after {
  display: block;
  width: 1px;
  height: 15px;
  left: 95px;
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#subVisual03 .titleBox .imgBox img {
  height: 600px;
  object-fit: cover;
  width: 50vw;
  opacity: 0.75;
}
#subVisual03 .titleBox .imgBox .linkBox {
  margin: 40px 120px;
  font-size: 16px;
  text-align: right;
}
#subVisual03 .titleBox .imgBox .linkBox a:after {
  display: inline-block;
  margin-left: 10px;
  font-family: "Material Icons";
  content: "\e89e";
}

#newstate01 {
  width: 100%;
}
#newstate01 .bigger {
  height: 1800px;
  position: relative;
  margin: 0 auto;
}
#newstate01 img {
  width: 100%;
  height: 100vh;
  vertical-align: top;
  top: 0;
  transform: scale(0.6);
  transition: all 1.5s;
}
#newstate01 img.scroll01 {
  position: fixed;
  transform: scale(1);
}
#newstate01 img.sticky {
  position: sticky;
}

#newstate02 {
  margin: 80px 0;
}
#newstate02 .box01,
#newstate02 .box03 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 280px;
  padding: 0 100px;
}
#newstate02 .box01 .txtBox,
#newstate02 .box03 .txtBox {
  width: 50%;
  position: absolute;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#newstate02 .box01 .txtBox h3,
#newstate02 .box03 .txtBox h3 {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
}
#newstate02 .box01 .txtBox p,
#newstate02 .box03 .txtBox p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}
#newstate02 .box01 .txtBox p span,
#newstate02 .box03 .txtBox p span {
  display: block;
  margin-bottom: 10px;
  word-break: keep-all;
}
#newstate02 .box01 .txtBox p span:before,
#newstate02 .box03 .txtBox p span:before {
  content: "–";
  margin-right: 10px;
}
#newstate02 .box01 .txtBox p span:last-child::before,
#newstate02 .box03 .txtBox p span:last-child::before {
  opacity: 0;
}
#newstate02 .box01 .imgBox,
#newstate02 .box03 .imgBox {
  width: 65%;
  height: 600px;
  background-position: center;
  background-image: url("../images/contents/newstate/bt-new-img2-min.png");
  background-repeat: no-repeat;
  background-size: 150%;
}
#newstate02 .box02 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 0 100px 280px;
}
#newstate02 .box02 .txtBox {
  width: 50%;
  position: absolute;
  left: 0;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#newstate02 .box02 .txtBox h3 {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
}
#newstate02 .box02 .txtBox p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}
#newstate02 .box02 .txtBox p span {
  display: block;
  margin-bottom: 10px;
}
#newstate02 .box02 .txtBox p span:before {
  content: "–";
  margin-right: 10px;
}
#newstate02 .box02 .imgBox {
  width: 65%;
  height: 600px;
  background-position: center;
  background-image: url("../images/contents/newstate/bt-new-img3-min.png");
  background-repeat: no-repeat;
  background-size: 150%;
}

#newstate03 {
  margin: 0 12vw;
}
#newstate03 h3 {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
}
#newstate03 p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 50px;
}
#newstate03 p span {
  display: block;
  margin-bottom: 10px;
  word-break: keep-all;
}
#newstate03 p span:before {
  content: "–";
  margin-right: 10px;
}
#newstate03 img {
  width: 650px;
  margin-bottom: 25px;
}
#newstate03 .imgWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#newstate04 .numBox {
  margin: 150px 0;
  font-weight: 500;
  text-align: center;
}
#newstate04 .numBox li {
  margin-bottom: 100px;
}
#newstate04 .numBox li p {
  margin-bottom: 20px;
}
#newstate04 .numBox li h4 {
  font-size: 70px;
  font-weight: 300;
}

#newstate05 {
  margin: 0 12vw;
}
#newstate05 .moving {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
#newstate05 .moving .title {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 50px;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 600;
}
#newstate05 .moving ul {
  width: 70%;
}
#newstate05 .moving ul li {
  margin-bottom: 50px;
}
#newstate05 .moving ul li h5 {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
}
#newstate05 .moving ul li p,
#newstate05 .moving ul li a {
  font-size: 16px;
  color: #ccc;
}
#newstate05 .moving ul li a {
  display: inline-block;
  padding: 0.2em 0;
  position: relative;
  overflow: hidden;
}
#newstate05 .moving ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: transform 300ms;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
#newstate05 .moving ul li a:hover:after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.appBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.appBox a {
  margin-right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.appBox a:hover {
  border: 1px solid rgb(255, 255, 255);
}
.appBox img {
  width: 200px;
  padding: 10px;
  vertical-align: top;
}

#newstate06 {
  margin: 0 12vw;
  padding-bottom: 100px;
}

#pubgStudios {
  padding: 50px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#pubgStudios a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pubgStudios a:hover .txt .underline:after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
#pubgStudios a span {
  position: relative;
  margin-right: 30px;
  font-size: 13px;
}
#pubgStudios a span:nth-child(1):after {
  width: 1px;
  height: 10px;
  position: absolute;
  left: 85px;
  content: "";
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#pubgStudios a .txt .underline {
  display: inline-block;
  margin-top: 10px;
  padding: 0.2em 0;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
#pubgStudios a .txt .underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: transform 300ms;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
#pubgStudios a .txt p {
  margin: 15px 0;
  font-size: 16px;
}
#pubgStudios a .txt img {
  width: 30px;
  margin-top: 50px;
}
#pubgStudios a .pubgLogo {
  width: 150px;
  padding: 20px 100px;
}
#pubgStudios a .pubgLogo img {
  width: 100%;
}