body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

.subContents {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1024px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.arrow {
  width: 40px;
  filter: brightness(0);
}

#subVisual01 .titleBox {
  max-width: 1280px;
  margin: 150px auto 60px;
  display: flex;
  justify-content: space-between;
}
#subVisual01 .titleBox .subTitle {
  font-size: 70px;
  font-weight: 700;
}
#subVisual01 .titleBox .breadCrumbBox {
  font-size: 13px;
}
#subVisual01 .titleBox .breadCrumbBox .breadCrumb {
  display: flex;
  align-items: center;
}
#subVisual01 .titleBox .breadCrumbBox .breadCrumb li:last-child {
  font-weight: 700;
}
#subVisual01 .titleBox .breadCrumbBox .breadCrumb li:not(:last-child):after {
  transform: translateY(3px);
  display: inline-block;
  margin: 0 10px;
  font-family: "Material Icons";
  content: "\e409";
}

.subImg {
  width: 100%;
  height: 450px;
  background-image: url("../images/contents/story/bg_about_story.png");
  background-size: cover;
}

#story01 {
  padding: 100px 0;
}
#story01 h2 {
  font-size: 55px;
  font-weight: 700;
  font-family: sans-serif;
}
#story01 .vision {
  margin-top: 70px;
  font-family: "Roboto Condensed";
}
#story01 .vision dl {
  display: flex;
  margin-bottom: 50px;
}
#story01 .vision dl dt {
  width: 450px;
  font-size: 45px;
}
#story01 .vision dl dd {
  font-size: 22px;
}
#story01 .vision dl dd p {
  line-height: 2em;
}
#story01 .vision dl dd p:nth-child(1) {
  margin-bottom: 30px;
}

#story02 {
  padding: 100px 0;
  margin-bottom: 50px;
}
#story02 h2 {
  font-size: 55px;
  font-weight: 700;
  font-family: sans-serif;
}
#story02 ul {
  display: flex;
  margin-top: 50px;
}
#story02 ul li {
  width: 33%;
  margin-right: 50px;
  border-top: 4px solid #000;
  position: relative;
}
#story02 ul li span {
  display: block;
  font-family: "Roboto Condensed";
  margin-top: 25px;
  margin-left: 10px;
  font-size: 18px;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#story02 ul li h3 {
  font-family: "Roboto Condensed";
  margin: 50px 0;
  font-size: 42px;
  line-height: 1.2em;
}
#story02 ul li div {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5em;
}
#story02 .longDesc {
  position: absolute;
  top: 240px;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
}
#story02 .longDesc:hover {
  opacity: 1;
}
#story02 .longDesc h4 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}
#story02 .longDesc p {
  word-break: keep-all;
  line-height: 1.8em;
  font-size: 18px;
  color: #555;
  font-weight: 400;
}

#story03 {
  margin-bottom: 80px;
  padding: 100px 0;
  font-family: sans-serif;
}
#story03 h2 {
  margin-bottom: 50px;
  font-size: 55px;
  font-weight: 700;
}
#story03 img {
  width: 100%;
  margin-bottom: 30px;
}
#story03 p {
  font-size: 20px;
  line-height: 1.8em;
  font-weight: 500;
}