#topBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: rgb(255, 255, 255);
}
#topBtn img {
  width: 25%;
  filter: brightness(0);
}
#topBtn.on {
  opacity: 1;
  pointer-events: all;
}