@import "vars";
@import "mixin";

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  min-height: 1800px;
}
a {
  color: inherit;
  text-decoration: none;
}
.subContents {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1024px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.arrow {
  width: 40px;
  filter: brightness(0);
}

#subVisual04 {
  .titleBox {
    display: flex;
    justify-content: space-between;
    margin: 150px auto 60px;
    max-width: 1280px;
    .subTitle {
      font-family: sans-serif;
      font-size: 65px;
      font-weight: 900;
      letter-spacing: -0.5px;
      word-spacing: -5px;
    }
    .breadCrumbBox {
      font-size: 13px;
      .breadCrumb {
        display: flex;
        align-items: center;
        li {
          &:last-child {
            font-weight: 700;
          }
          &:not(:last-child):after {
            transform: translateY(3px);
            @include arrowIcon();
          }
        }
      }
    }
  }
}
#faq {
  .menu {
    margin: 30px 0 70px;
    border-bottom: 1px solid #eee;
    ul {
      display: flex;
      li {
        position: relative;
        overflow: hidden;
        margin-right: 50px;
        padding: 20px 10px;
        font-weight: 500;
        &:not(:first-child) {
          color: #999;
        }
        &:first-child:after {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          background-color: #000;
        }
        &:not(:first-child):after {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate3d(-100%, 0, 0);
          opacity: 0;
          transition: transform 200ms;
          content: "";
          background-color: #000;
        }
        &:hover:after {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
  }
  .searchForm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    font-size: 15px;
    .category {
      position: relative;
      overflow: hidden;
      &.open {
        overflow: visible;
        div {
          &:after {
            transform: rotate(-180deg);
          }
        }
        .categoryList {
          display: block;
          top: 60px;
        }
      }
      div {
        width: 100px;
        height: 100%;
        position: relative;
        margin-right: 15px;
        padding: 16px 18px;
        font-size: 16px;
        border: 2px solid #000;
        &:after {
          transition: all 0.2s ease;
          display: inline-block;
          width: 15px;
          height: 15px;
          position: absolute;
          right: 20px;
          margin-left: 10px;
          background-image: url("../images/common/ico-select-arrow_b.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 12px;
          content: "";
        }
      }
      .categoryList {
        width: 100px;
        position: absolute;
        padding: 6px 18px;
        font-size: 16px;
        border: 2px solid #000;
        background-color: #fff;
        transition: all 0.25s ease;
        li {
          padding: 10px 0;
        }
      }
    }
    .searchBox {
      width: 250px;
      position: relative;
      padding: 12px 18px;
      border: 2px solid #000;
      &:after {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        margin-left: 10px;
        background-image: url("../images/common/ico-search.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        content: "";
      }
      input {
        border: none;
        outline: none;
      }
      input[type="text"] {
        padding: 0;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .faqList {
    border-top: 2px solid #000;
    ul {
      li {
        display: flex;
        align-items: center;
        height: 100px;
        font-size: 20px;
        font-weight: 600;
        border-bottom: 1px solid #eee;
        span {
          display: inline-block;
          padding: 0.2em 0;
          @include underline(2px, #000);
          &:hover:after {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }
        &:before {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 20px;
          background-image: url("../images/common/ico-question.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 16px;
          content: "";
        }
      }
    }
  }
  .inquiry {
    width: 100%;
    padding: 40px;
    margin-bottom: 150px;
    font-family: "Noto Sans KR";
    font-size: 16px;
    background-color: rgba(247, 247, 247, 0.719);
    dl {
      display: flex;
      align-items: center;
    }
    dt {
      margin-right: 20px;
      font-weight: 700;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 75px 0;
  font-size: 18px;
  .icon {
    display: flex;
    justify-content: center;
    a {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      &.first {
        &:before {
          padding: 8px;
          border: 1px solid #ddd;
          @include icon("keyboard_double_arrow_left", 0);
        }
      }
      &.prev {
        &:before {
          padding: 8px;
          border: 1px solid #ddd;
          @include icon("chevron_left", 0);
        }
      }
      &.next {
        &:before {
          padding: 8px;
          border: 1px solid #ddd;
          @include icon("chevron_right", 0);
        }
      }
      &.last {
        &:before {
          padding: 8px;
          border: 1px solid #ddd;
          @include icon("keyboard_double_arrow_right", 0);
        }
      }
    }
  }
  ul {
    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-family: "Noto sans kr";
    font-size: 16px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 40px;
      margin: 0 15px;
      color: #777;
      &.active {
        font-weight: 600;
        color: #000;
        border-bottom: 2px solid #000;
      }
    }
  }
}
